<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.takeastep">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_fore"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TakeAStep">
        <activity
            android:name=".activities.admin.AddDiscountActivity"
            android:exported="true" />
        <activity
            android:name=".activities.admin.AdminChatActivity"
            android:exported="true" />
        <activity
            android:name=".activities.admin.AdminHelpCenterActivity"
            android:exported="true" />
        <activity
            android:name=".activities.admin.EditContentActivity"
            android:exported="true" />
        <activity
            android:name=".activities.admin.AddContentActivity"
            android:exported="true" />
        <activity
            android:name=".activities.admin.AdminTakeAStepActivity"
            android:exported="true" />
        <activity
            android:name=".activities.admin.AdminCovidDiscountActivity"
            android:exported="true" />
        <activity
            android:name=".activities.admin.AdminTogetherWeWinActivity"
            android:exported="true" />
        <activity
            android:name=".activities.admin.AdminAreYouReadyActivity"
            android:exported="true"
            android:label="Are You Ready" />
        <activity
            android:name=".activities.user.VaccineRegistrationActivity"
            android:exported="true" />
        <activity
            android:name=".activities.user.TakeAstepActivity"
            android:exported="true" />
        <activity
            android:name=".activities.user.CovidDiscountActivity"
            android:exported="true" />
        <activity
            android:name=".activities.user.TogetherWeWinActivity"
            android:exported="true" />
        <activity
            android:name=".activities.user.AreYouReadyActivity"
            android:exported="true"
            android:parentActivityName=".activities.user.MainActivity" />
        <activity
            android:name=".activities.admin.AdminDashboardActivity"
            android:exported="true"
            android:label="Admin Dashboard" />
        <activity
            android:name=".activities.user.MainActivity"
            android:exported="true" />
        <activity
            android:name=".activities.SignUpActivity"
            android:exported="true"
            android:theme="@style/Theme.MaterialComponents.Light.NoActionBar" />
        <activity
            android:name=".activities.SignInActivity"
            android:exported="true"
            android:theme="@style/Theme.MaterialComponents.Light.NoActionBar" />
        <activity
            android:name=".activities.LauncherActivity"
            android:noHistory="true"
            android:theme="@style/Theme.MaterialComponents.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>